body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.MuiPaper-root {
  padding: 20px;
}
